.container {
    display: flex;
    justify-content: center;
    align-items: center;


}

.header {
    width: 600px;
    border: 2px solid #434343;
    border-radius: 15px;
    text-align: center;
    padding: 5px 0;
    border-radius: 15px;
}



.header .nav-list {
    display: flex;
    gap: 5px;
    justify-content: end;
    list-style-type: none;
    padding: 10px;
}

.header .nav-list .link {
    padding: 10px;
    border-radius: 15px;
    outline: 2px solid;
    color: #000;
    text-decoration: none;
    padding: 10px;
}


/* Estilo para  active */
.link.active {
    background-color: #434343;
    color: #fff !important;
    font-weight: bold;
    border: none !important;
}